/*src > components > SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  background-color: white;
  margin-left: 10px;
}

.filter-button,
.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  padding: 0 8px;
  border: none;
  height: 30px;
  outline: none;
}

/* Styles pour la modal 
  .search-modal {
    
  }
  
  .search-modal-overlay {
    
  }
  
  */

@media (max-width: 846px) {
  .search-bar-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 100px;
    width: 100%;
    background-color: white;
    margin-left: 0;
  }
}
