.wrapper {
  gap: 50px;
}

.section {
  hr {
    margin: 0;
    border: 3px solid white;
    min-width: 170px;
  }
}

.item {
  background-color: white;
  border-radius: 20px;
  max-height: 300px;
  width: 300px;
  gap: 20px;
  h3 {
    font-size: 1.5rem;
  }
}

.icon {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: var(--primary);
}

.description {
  height: 50%;
  text-align: center;
  p {
    margin: 0;
  }
}
