@use "../../../../../assets/styles/mixins" as mixin;

.Item {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.Slider {
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  align-items: center;
  animation: 30s slide ease-out infinite;
  -webkit-animation: 30s slide ease-out infinite;

  @include mixin.md-lt {
    animation: 25s slide ease-out infinite;
    -webkit-animation: 25s slide ease-out infinite;
    align-items: flex-start;
    height: 100vh;
  }
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
  }
  16% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-100vw);
  }
  36% {
    -webkit-transform: translateX(-100vw);
  }
  40% {
    -webkit-transform: translateX(-200vw);
  }
  56% {
    -webkit-transform: translateX(-200vw);
  }
  60% {
    -webkit-transform: translateX(-300vw);
  }
  76% {
    -webkit-transform: translateX(-300vw);
  }
  80% {
    -webkit-transform: translateX(-400vw);
  }
  96% {
    -webkit-transform: translateX(-400vw);
  }
  100% {
    -webkit-transform: translateX(-500vw);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100vw);
  }
  36% {
    transform: translateX(-100vw);
  }
  40% {
    transform: translateX(-200vw);
  }
  56% {
    transform: translateX(-200vw);
  }
  60% {
    transform: translateX(-300vw);
  }
  76% {
    transform: translateX(-300vw);
  }
  80% {
    transform: translateX(-400vw);
  }
  96% {
    transform: translateX(-400vw);
  }
  100% {
    transform: translateX(-500vw);
  }
}
