@use "./mixins" as mixin;

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(white);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-title);
  color: var(--text-color);
}

h1 {
  font-size: 1.75rem;
  @include mixin.md-lt {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 1.5rem;
}

.mega {
  font-size: 8rem;
  @include mixin.md-lt {
    font-size: 4rem;
  }
}

p {
  font-family: var(--font-family);
  font-size: 1rem;
  @include mixin.md-lt {
    font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
