:root {
  --primary: #3e3489;
  --secondary: #efefef;
  --gray-1: #20232a;
  --font-family: "Poppins", sans-serif;
  --font-title: "Roboto", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #17191f;
}
