.Wrapper {
  gap: 20px;
  flex-wrap: wrap;
}

.Section {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  hr {
    margin: 0;
    border: 5px solid var(--primary);
    width: 20%;
    min-width: 100px;
    max-width: 200px;
  }
}
