*{
    font-family: "Poppins", sans-serif;
}

h2{
      font-family: "Roboto", sans-serif;
}

.ProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .NavBar{
    background-color: #3E3489;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    > p{
        color: white;
        font-size: 2rem;
    }
  }

  .ProfilePage{
    max-width: 100vw;
  }

  .ProfilBody{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    width: 70vw;

    .LeftPanel{
        display: flex;
        flex-direction: column;
        > p{
            font-size: 2rem;
            margin-bottom: 20px;
        }

        > img{
            width: 200px;
            height: 200px;
            border: 1px solid black;
            margin-bottom: 30px;
        }
        > button{
            width: 200px;
            height: 50px;
            border-radius: 15px;
            border: none;
        }
    }

    .RightPanel{
        display: flex;
        flex-direction: column;
            padding-left: 30px;
            width: 50vw;

        .Top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            @media (min-width : 401px) {
                .NumMail{
                    display: none;
                }
            }
            .Name {
                display: flex;
                flex-direction: column;
                .FirstName{
                    font-size: 2rem;
                }
                .LastName{
                    font-size: 1.5rem;
                }
            }
            button {
                width: 120px;
                height: 40px;
                border-radius: 10px;
                border: none;
            
            }
        }
        .Middle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 50px;
            .Checkboxes{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            div{
                display : flex;
                width: 180px;
                padding: 10px;
            }
            input{
                width: 25px;
                height: 25px;
            }
            label{
                margin-left: 15px;
            }
        }
        @media (min-width : 551px) {
            .Bottom{
            margin-top: 50px;
            .Badges{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                flex-direction: row;
                margin-top: 20px;
                div{
                    border: 1px solid black;
                    width: 75px;
                    height: 75px;
                }
            }
        }
        }
        
    }
  }

}

@media (max-width : 550px) {
    .ProfilePage{
        .ProfilBody{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .LeftPanel{
                .MessageButton{
                    display: none;
                }

                .NumMail{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .RightPanel{
                .Top{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 30vh;
                    margin-top: 0px;
                }
            }
            
            .Bottom{
                margin-top: 50px;
                margin-bottom: 50px;

                .Badges{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 20px;
                    gap: 10px;
                    div{
                        border: 1px solid black;
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }
    
}